@use "../abstract/" as *;

.aboutBanner {
  padding: 4rem 0;
  &__top {
    @include between;
    margin-bottom: 1rem;
    &--right {
      width: 80rem;
    }
  }

  &__bottom {
    &--a {
      grid-area: a;
      @include imgFit(500px, 500px);
    }
    &--b {
      grid-area: b;
      h3 {
        margin-bottom: 2rem;
      }
      p {
        max-width: 40rem;
      }
    }
    &--c {
      grid-area: c;
      @include imgFit(100%, 700px);
      margin-top: 5rem;
    }
    display: grid;
    grid-template-areas:
      "a c"
      "b c";
    gap: 1rem;
  }
}

.aboutCore {
  padding: 4rem 20rem;

  &__title {
    color: $clr--light;
    display: flex;
    flex-direction: column;
    @include centerAll;
    margin-bottom: 4rem;
    h2 {
      max-width: 40rem;
    }
  }
  .cardIcon {

   
    @include centerAll;
    gap: 1.2rem;
    background-color: $clr--light;

    h4 {
      text-align: left;
    }
    p {
      text-align: left;
    }
  }

  &__cards {
    @include gridFixed(2, 1rem);
  }
}

.aboutLocation {
  padding: 4rem 0;

  &__map {
    @include centerAll;
  }
}