@use "../abstract/" as *;
@use "../base/" as *;

.homeBanner {
  padding: 4rem 0;
  color: $clr--light;
  &__wrapper {
    @include gridFixed(2, 1rem);
    align-items: center;
  }
  &__left {
    small {
      text-transform: uppercase;
    }
    h1 {
      line-height: 4rem;
      margin: 2rem 0;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.homeAbout {
  padding: 4rem 0;
  &__wrapper {
    @include gridFixed(2, 3rem);
    align-items: center;
  }
  &--a {
    grid-area: a;
  }
  &--b {
    grid-area: b;
  }
  &--c {
    grid-area: c;
  }
  &__left {
    ul {
      display: grid;
      grid-template-areas: "a c" "b c";

      align-items: center;
      gap: 1rem;
    }
  }
  &__right {
    h2 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.homeClass{
  padding: 4rem 0;
  &__slider{
    display: flex;
    gap: 2rem
  }
  .listButton {
    margin-top: 2rem;
    @include centerAll;
  }

}