@use "../abstract/" as *;

.card{
    width: 100%;
    background-color: $clr--dark;
    color: $clr--light;
    img{
        width: 100%;
    }
    &__details{
        padding: 2rem;
        h4, 
        p{
            margin-bottom: 1rem;
        }
    }
}