@use "../abstract/" as *;

.card{
    width: 100%;
    background-color: $clr--dark;
    color: $clr--light;
    img{
        width: 100%;
    }
    &__details{
        padding: 2rem;
        h4, 
        p{
            margin-bottom: 1rem;
        }
    }
}

.cardIcon{
    @include centerAll;
  
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    img{
        width: 7rem;
    }
    &__details{
        h4{
            margin: 1.5rem 0;
        }
    }
}