@use "../abstract/" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-primary: "Poppins", sans-serif;


h1 {
  font-size: clamp(3rem, 7vw, 4.5rem);
  font-weight: 600;
}
h2 {
  font-size: clamp(2.5rem, 5vw, 3rem);
  font-weight: 600;
}
h3 {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  font-weight: 600;
}
h4 {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  font-weight: 600;
}
h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
h6 {
  font-size: 0.75rem;
}
p,a {
  font-size: 1.25rem;
}