@use "./colors" as *;

$colors: (
  "dark": $clr--dark,
  "light": $clr--light,
);

@each $key, $val in $colors {
  .text {
    &--#{$key} {
      color: $val;
    }
  }
  .bg {
    &--#{$key} {
      background-color: $val;
    }
  }
}

$text-align: left, right, center, justify;
@each $val in $text-align {
  .t-align--#{$val} {
    text-align: $val;
  }
}

$display:
  block inline,
  inline-block,
  flex,
  grid;
@each $val in $display {
  .d--#{$val} {
    display: $val;
  }
}

$position: absolute, relative, static, fixed;
@each $val in $position {
  .position--#{$val} {
    position: $val;
  }
}

@for $i from 0 through 20 {
  .m--#{$i} {
    margin: $i + rem;
  }
  .mx--#{$i} {
    margin: 0 $i + rem;
  }
  .my--#{$i} {
    margin: $i + rem 0;
  }
  .mb--#{$i} {
    margin-bottom: $i + rem;
  }
  .mt--#{$i} {
    margin-top: $i + rem;
  }
  .ml--#{$i} {
    margin-left: $i + rem;
  }
  .mr--#{$i} {
    margin-right: $i + rem;
  }

  .p--#{$i} {
    padding: $i + rem;
  }
  .px--#{$i} {
    padding: 0 $i + rem;
  }
  .py--#{$i} {
    padding: $i + rem 0;
  }
  .pb--#{$i} {
    padding-bottom: $i + rem;
  }
  .pt--#{$i} {
    padding-top: $i + rem;
  }
  .pl--#{$i} {
    padding-left: $i + rem;
  }
  .pr--#{$i} {
    padding-right: $i + rem;
  }
}
